<div ng-show="isLoading()" ng-include="'/app/views/Loading.html'"></div>
<div ng-controller="VotingIdeaController" class="idea-details" ng-hide="isLoading()">
    <div class="col-md-8">

        <div class="row bottom20">
            <div class="col-md-12 boxTitle bottom10">
                <h2>{{model.Title}}</h2>
            </div>
            <div class="col-md-12">
                <span class="posted-on">posted in <a href="#/areas/{{model.AreaId}}">{{model.AreaTitle}}</a> on {{model.CreationDate | date : shortDate}}</span>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-heart"></span> {{model.TotalPoints}}
                    <span class="glyphicon glyphicon-comment"></span> {{model.TotalComments}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="description">{{model.Description}}</p>
            </div>

            <div ng-include="'/app/views/VoteIdea.html'"></div>
            <div ng-include="'/app/views/changeIdeaStatus.html'"></div>
        </div>

        <div ng-include="'/app/views/IdeaComments.html'"></div>
    </div>

    <div class="col-md-4" ng-if="author">
        <div class="col-md-12 text-center">
            <user-avatar name="author.CompleteName" id="author.Id" class="img-circle" />
        </div>
        <div class="col-md-12 text-center">
            <a href="#/users/{{author.Id}}">
                <h4>{{author.CompleteName}}</h4>
            </a>
            <p>available points: <strong>{{author.AvailablePoints}}</strong></p>
            <p>ideas posted: <strong>{{author.IdeasCount}}</strong></p>
            <p>comments: <strong>{{author.CommentsCount}}</strong></p>
        </div>
    </div>
</div>