<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultServiceUrl" value="http://localhost:3801/api/" />
  <add key="ContentServiceUrl" value="http://localhost:59244/api/" />
</appSettings>